.container {

    background-color: #452770;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    height: 15rem;
 
}



.icon {
    color: #fc8722;
    position: relative;
}

  .menu {
    display: flex;
    flex-direction: row;
  }

  ul, li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem;
    padding: 0.5rem;
  }
  
  .menuLink {
    color: #fc8722; /* Cor laranja para o texto no menu */
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  