.container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e9e4e1;
    flex-direction: column;
    max-width: 100%;
    height: auto;
}
  
  input {
    max-width: 100%;
    width: 30%;
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .posterFilme {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .FaSearch {
    margin-right: 5px;
    font-size: 20px;
  }
  
  .filmeContainer {
    color: #94918f;
    font-size: 18px;
    margin: 10px;

  }

  .inputContainer {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    justify-content: center;
    margin-top: 11rem;
    margin-bottom: 6rem;
  }

  img {
    width: 20rem;
  }

  .posterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }