@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
<<<<<<< HEAD
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    list-style: none;
=======
    font-family: 'Roboto', sans-serif;
>>>>>>> b8e1f254f71e14e5d77f118f8c59301c95815646
}