.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 3rem;
  }
  
  .poster {
    display: flex;
    justify-content: center;
  }
  
  .poster ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .poster li {
    text-align: center;
    margin: 10px;
    width: 30%; 
  }
  
  .poster img {
    width: 100%;
    height: auto;
  }
  
  .poster p {
    margin-top: 5px; 
  }
  
  .text {
    margin-top: 5rem;
    margin-left: 5rem;
  }