.container {
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-content: space-around;
    background-color: #e9e4e1;
    
  }
  
  .posterFilme {
    max-width: 100%;
    width: 30%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .textContainer {
    max-width: 100%;
    width: 30%;
    text-align: justify;
    color: #94918f;
    font-size: 0,5rem;

  }